.NavigationBar {

    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 140px;
    z-index: 6;
    background-color: #FFFFFd;
    box-shadow: 0px 10px 10px 4px rgba(0, 0, 0, 0.15);


}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(34, 139, 34, 0.80), rgba(0, 0, 0, 0));
}


.CurrentNavigationList ul {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: transparent;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.10);
    padding: 0%;
    margin: 0%;


}

.NavigationBar li {
    position: relative;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.3px;


}

.NavigationBar a {
    color: black;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);

}


.NavigationBar a:hover {
    cursor: pointer;
    /* color: rgb(94, 192, 64); */

    color: rgb(34, 139, 34);


}


.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    height: fit-content;

}

.Header p {

    font-size: 18px;
    color: black;
    margin: 0px;
    font-style: italic;
}

.Header i {
    color: black;

}

.Header i:hover {
    color: rgb(34, 139, 34);

}

.Header a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.Header a:hover {
    color: rgb(34, 139, 34);

}

.WebsiteOwnerName {
    display: flex;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kaushan Script';
    height: 70px;
    width: 100%;


}

.WebsiteOwnerNameContent {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;


}

.WebsiteOwnerNameContent img {
    height: 100%;
    border-radius: 50%;
    margin-right: 20px;
}

.WebsiteOwnerName a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(34, 139, 34);

}



.WebsiteOwnerName a:hover {
    cursor: pointer;
    color: black;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);


}

.WebsiteOwnerName h1 {
    margin: 0px;
    max-height: 70px;
}

.Carousel {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;


}

.CarouselImages {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.CarouselImages img {
    display: flex;
    width: 100%;
    height: 800px;
    object-fit: cover;

}

.CarouselImages button {
    position: absolute;
    top: 90%;
}

.Carousel h1 {
    position: absolute;
    top: 30%;

    display: flex;
    width: 500px;
    height: fit-content;
    justify-content: center;
    align-content: center;
    color: white;
    font-style: italic;
    font-family: 'Kaushan Script';
    font-size: 60px;
    font-weight: 200;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

}

.Carousel h1:hover {
    cursor: pointer;
    color: rgb(34, 139, 34);
    transform: scale(1.1);



}

.Carousel-left-button {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 50px;
    background-color: transparent;
    color: white;
    border: 0px;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    display: flex;
    justify-content: center;
    align-items: center;

}

.Carousel-right-button {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 50px;
    background-color: transparent;
    color: white;
    border: 0px;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Carousel-right-button:hover {

    color: rgb(34, 139, 34);
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
}

.Carousel-left-button:hover {
    cursor: pointer;
    color: rgb(34, 139, 34);
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

}

.Articles {
    position: relative;
    left: 0%;
    width: 100%;
    background-color: rgb(249, 245, 247);
    height: 700px;
    display: flex;
    justify-content: center;



}

.Article-inner {
    position: relative;
    width: 1450px;
    height: 700px;



}

.Articles-header h1 {
    position: absolute;
    top: 0px;
    left: 5%;
    margin: 0%;
    color: black;
    font-style: italic;
    font-family: 'Kaushan Script';
    font-size: 20px;



}

.Articles-cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 100%;

}

.Article-card {
    position: relative;
    width: 270px;
    height: 400px;
    margin-left: 80px;
    margin-top: 80px;
    margin-bottom: 100px;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

}


.Article-card:hover {
    transform: scale(1.1);
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

}

.Article-card-image {
    position: absolute;
    height: 60%;
    left: 0%;
    right: 0%;
    top: 0px;



}

.Article-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.Article-card-detail {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 50%;
    height: 50%;
    background-color: rgb(249, 245, 247);
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
}

.Article-card-detail h1 {
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    color: black;
    font-style: italic;
    font-family: 'Kaushan Script';


}

.Article-card-detail p {
    font-size: 16px;
    padding: 0px 10px 0px 10px;
    color: black;
}

.ShowAllArticles {

    position: absolute;
    font-size: 20px;
    top: 92%;
    right: 0px;
    color: black;
    font-style: italic;
    font-family: 'Kaushan Script';
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.ShowAllArticles a {
    color: black;
    text-decoration: none;
}

.ShowAllArticles:hover {
    cursor: pointer;
    color: rgb(34, 139, 34);
    transform: scale(1.1);
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);


}

.Calculations {
    width: 100%;
    position: relative;
}

.Calculations-cards {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.Calculations-cards-list {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 0%;

}

.Calculations-cards-list li {
    height: fit-content;
    width: 25%;
    list-style-type: none;
}

.Calculations-card {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.Calculations-card img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0.5px);
}

.Calculations-card h1 {
    position: absolute;
    color: rgb(34, 139, 34);
    font-style: italic;
    font-family: 'Kaushan Script';
    font-size: 22px;
    letter-spacing: 2px;


}

.Calculations-card:hover {
    cursor: pointer;


}

.Appointment {
    position: relative;
    width: 100%;
    height: 900px;
    background-color: #f7f5fa;
    top: 0%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Appointment-inner {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
}

.Appointment-text {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.Appointment-textContent h1 {
    color: black;
    font-style: italic;
    font-family: 'Kaushan Script';
    font-size: 50px;

}




.Appointment-form {
    position: relative;
    width: 600px;
    height: 675px;
    background: #eff5f7;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 10px 4px rgba(0, 0, 0, 0.25);


}


.Appointment-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0px 55px;
}

.ContactUsButton {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 10px;
}



.ContactUsButton button {
    position: relative;
    background-color: rgb(34, 139, 34);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    height: 50px;
    font-family: 'Kaushan Script';
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    color: white;


}


.ContactUs a {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}




.ContactUs:hover {
    cursor: pointer;
    border: 1px solid rgb(34, 139, 34);
    background-color: transparent;
    font-weight: bolder;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    color: rgb(34, 139, 34);

}

input[type=text] {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    font-size: 16px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    border: 1px solid rgb(34, 139, 34);

    border-radius: 8px;
    box-sizing: border-box;
}

input[type=number] {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(34, 139, 34);

    padding: 12px 20px;
    font-size: 16px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 16px;
    display: inline-block;
    height: 50px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(34, 139, 34);

}


#Fmessage {
    width: 100%;
    height: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 8px 0;
    border: 1px solid rgb(34, 139, 34);
    border-radius: 8px;


}

.SubmitFormButton {
    background-color: rgb(34, 139, 34);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    height: 50px;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Kaushan Script';
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    margin-top: 25px;
    color: white;
}

.SubmitFormButton:hover {
    cursor: pointer;
    border: 1px solid rgb(34, 139, 34);
    color: rgb(34, 139, 34);
    background-color: transparent;
    font-weight: bolder;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 0.5);
}

.Footer {
    display: flex;
    position: relative;
    width: 100%;
    height: 500px;
    background-color: rgb(34, 139, 34);
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

}

.Footer ul {
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 50px;
    list-style-type: none;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    margin: auto;
    color: white;
    top: 200px;



}

.Footer li {
    letter-spacing: 2px;

}

.Footer li:hover {
    cursor: pointer;

}

.WebsiteOwnerNameFooter {
    position: absolute;
    top: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    font-family: 'Kaushan Script';


}

.WebsiteOwnerNameFooter a {
    color: white;
    text-decoration: none;
}

.footerlist a {
    text-decoration: none;
    color: white;
}

.Footerinfo {
    color: white;

}

.MenuButton {
    display: none;
}

.default-routepage {
    position: relative;
    height: fit-content;


}

.default-routepage-header {
    position: relative;
    height: 140px;
    margin: 0px;
    padding: 0%;
    background-color: transparent;

}

.About {

    position: relative;

    height: fit-content;
}

.Allarticles {

    position: relative;
    display: flex;
    height: fit-content;
    flex-direction: column;

}

.ArticleCardRouteDetail {

    position: relative;
    display: flex;
    height: fit-content;
    flex-direction: column;

}

.ArticleAllDetailImage {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    width: 100%;
    height: 400px;

}

.ArticleAllDetailImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Routepage-inner {
    position: relative;
    width: 100%;
    background-color: #f7f5fa;
    display: flex;
    justify-content: center;
    height: fit-content;

}


.Routepage-inner-content {
    position: relative;
    height: fit-content;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.Routepage-inner-content h1 {
    font-size: 18px;
}

.Routepage-inner-content p {
    font-size: 14px;
}

.RoutepageHeader {
    font-family: 'Kaushan Script';



}


.FoodsAndCalories {

    position: relative;

    height: fit-content;
}

.Contactpage {


    position: relative;

    height: fit-content;
}

.RoutePageContent {
    position: relative;
    height: fit-content;
    margin-top: 100px;

}

.RecipeName h1 {
    font-family: 'Kaushan Script';

}

.RecipeDetailsContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.mapouter {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center
}

.mapouter {
    background-color: rgb(249, 245, 247);
}

.gmap iframe {
    position: relative;
    width: 80vw;
    height: 500px;
    border: 6px;
    box-shadow: 1px 1px 50px 55px rgba(0, 0, 0, 0.10);
    margin: 100px;

}

.ArticleCardList {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 25px 10px 10px 0px;
    margin: 0%;
}

.ArticleCardList li {
    list-style-type: none;


}

.ArticleCardList li a {
    text-decoration: none;
    color: rgb(34, 139, 34);
}

.ContactInfo {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.Informations-Item {

    display: flex;

    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;

}

.Informations-Item span {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: rgb(34, 139, 34);
}

.Informations-Item a {
    display: flex;
    justify-content: center;
    font-family: 'Kaushan Script';
    color: rgb(34, 139, 34);
    text-decoration: none;

}

.AboutUscontent {
    margin-top: 100px;
}

.AboutUsImage {

    position: relative;
    width: 100%;
}

.AboutUsImage img {

    width: 100%;
    height: 500px;
    object-fit: cover;
}

.calculationpage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.calculationpage h1 {
    font-family: 'Kaushan Script';


}

.calculationpage-form {
    position: relative;
    width: 350px;
    height: fit-content;
    background: #eff5f7;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 10px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
    padding: 30px 0px;

}

.calculationpage-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0px 35px;


}

.Error404 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.Error404 img {

    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Error404Button {
    display: flex;
    position: absolute;
    background-color: rgb(34, 139, 34);
    border: solid 2px white;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    top: 20%;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.Error404Button a {
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.Error404Button:hover {
    color: white;
    cursor: pointer;
    border-color: white;
    transform: scale(1.2);
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);


}

.AdminPage {
    display: flex;
    position: relative;
    background-color: yellowgreen;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.AdminPageButtons {
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
}

.AdminPageButtons button {
    height: 50px;
    transition: all 0.3s;
}

.AdminPageButtons button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.LogoutButton {
    background-color: red;
    border: none;
    font-weight: 600;
}

.AdminPageContent {
    width: 80%;
    display: flex;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.HeaderForm {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;

}

.SubmitButton {
    height: 50px;
    width: 50%;
    padding: 10px 10px;
    margin: 10px 10px;


}

input[type=inputtext] {
    width: 50%;
    height: 50px;
    padding: 10px 10px;
    font-size: 16px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=password] {
    width: 50%;
    height: 50px;
    padding: 10px 10px;
    font-size: 16px;
    margin: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.FoodrecipesCardsHeader {
    font-family: 'Kaushan Script';
}

.FoodsrecipeCards {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.FoodsrecipeCards ul {
    width: 70%;
    margin: 0%;
    list-style-type: none;
    padding: 0%;
    position: relative;

}

.FoodsrecipeCards li {
    display: flex;
    width: 100%;
    transition: all 2s;
    transform: translateX(0px);

}

.FoodsrecipeCards a {
    width: 100%;
    margin: 0%;
    list-style-type: none;
    padding: 0%;
    text-decoration: none;
    color: black;
}

.FoodrecipeCard {
    margin-bottom: 10px;
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(230, 231, 225);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);

}



.FoodrecipeCardImage {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;

}

.FoodrecipeCardImage img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}

.FoodrecipeCardDetail {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    right: 0%;
    flex-direction: column;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}

.RecipeName {
    width: fit-content;
}


.RecipeName h1 {

    font-size: 25px;
}

.RecipeCardInformations {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.RecipeInfo1 {
    /* background-color: rgb(230, 231, 225); */
    background-color: #f7f5fa;
    height: 50px;
    width: 35%;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 5px;

}

.RecipeInfo1 h1 {
    font-size: 17px;
    margin: 0%;
}

.RecipeInfo1 h2 {
    font-size: 12px;
    margin: 0%;

}

.RecipeInfo2 {
    display: flex;
    justify-content: center;
    background-color: #f7f5fa;
    width: 35%;
    padding-left: 10px;
    border-radius: 10px 10px 10px 10px;
    height: 50px;
    padding: 5px;
}

.RecipeInfo2 h2 {
    font-size: 17px;

}

.DiyetMarket {

    margin: 0%;
    font-family: 'Kaushan Script';

}

.FoodrecipeAllDetail {
    margin-bottom: 10px;
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    background-color: white;


}

.FoodrecipeAllDetailsName h1 {
    font-size: 25px;
}

.RecipeInformations {
    display: flex;
    position: relative;
    padding-bottom: 10px;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    gap: 5px;
}

.RecipePrepare {
    width: 100%;
    position: relative;
    background-color: white;
}

.RecipePrepare h1 {
    font-size: 20px;
}

.RecipePrepareContent {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.DiyetMarket {
    position: relative;
    display: flex;
    width: 100%;
    height: 525px;
    background-color: rgb(241, 245, 235);
    justify-content: center;
    align-items: center;

}

.DiyetMarketCards {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 450px;
    width: 1400px;
    flex-direction: row;
    overflow: scroll;
    scroll-behavior: smooth;

}

.DiyetMarketPage {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

}

.DiyetMarketPageCards ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    height: fit-content;
    margin: 0%;
    list-style-type: none;
    padding: 0%;

}

.DiyetMarketPageCards li {
    margin-bottom: 50px;

}

.DiyetCard {
    position: relative;
    display: flex;
    height: 400px;
    width: 300px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
    flex-direction: column;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);


}

.Diyetmarketleftbutton {
    position: relative;
    font-size: 50px;
    color: rgb(34, 139, 34);
    transition: 500ms;
}

.Diyetmarketleftbutton:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.Diyetmarketrightbutton {
    font-size: 50px;
    position: relative;
    color: rgb(34, 139, 34);
    transition: 500ms;

}

.Diyetmarketrightbutton:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.DiyetmarketAllCards {
    display: flex;
    position: relative;
}

.DiyetmarketAllCards ul {
    display: flex;
    margin: 0%;
    list-style-type: none;
    padding: 0%;
}

.DiyetmarketAllCards a {
    text-decoration: none;
    color: black;

}

.DiyetMarketCards::-webkit-scrollbar {
    display: none;
}

.DiyetCardImage {
    position: relative;
    width: 100%;
    height: 50%;


}


.DiyetCardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.DiyetCardDetail {
    height: 50%;
    width: 100%;
    position: relative;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.DiyetCardDetailHeader {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.DiyetCardDetailHeader h1 {
    font-size: 20px;
    margin: 0%;
    font-family: 'Kaushan Script';
}

.DiyetCardDetailText {
    position: relative;
    width: 90%;
    height: 30%;
}

.DiyetCardDetailText p {
    font-size: 12px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.DiyetCardDetailPrice {
    position: relative;
}

.DiyetCardDetailPrice h1 {
    font-size: 18px;
    margin: 0%;
    color: rgb(34, 139, 34);
    font-family: 'Kaushan Script';

}

.DiyetCardButton {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 30px;
    border-color: rgb(34, 139, 34);
    align-items: center;
}

.DiyetCardButton a {
    height: 100%;
    width: 100%;

    margin: 0%;
    padding: 0%;
}

.DiyetCardButton button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(34, 139, 34);
    border: 2px solid rgb(34, 139, 34);
    font-size: 15px;
    transition: ease-out 500ms;
    color: white;

}

.DiyetCardButton button:hover {
    transform: scale(0.91);
    cursor: pointer;
    transition: ease 300ms;
    color: rgb(34, 139, 34);
    border: 2px solid rgb(34, 139, 34);
    ;
    background-color: white;

}

.DiyetMarketCardInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    margin: 50px;
    justify-content: center;
    padding: 50px;
    background-color: #FFFFFD;

}

.DiyetMarketCardInfo h1 {
    font-size: 18px;
}

.DiyetInfo1 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;

}

.DiyetInfo2 {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.DiyetInfo2Text {
    width: 100%;
    text-align: center;

}

.DiyetInfo1Image {
    width: 40%;
    height: 100%;

}

.DiyetInfo1Image img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.DiyetInfo1Abstract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100%;
    padding-left: 50px;
    padding-right: 20px;
    gap: 20px;
}

.DiyetInfo1Abstract h1 {
    font-family: 'Kaushan Script';
    margin: 10px;
}

.DiyetMarketCardInfo p {
    margin: 10px;
    font-size: 14px;
}

.DiyetInfo2 h1 {
    font-family: 'Kaushan Script';

}

.UpdateComponent {
    display: flex;
    width: 100%;
    flex-direction: column;

}

.DiyetUpdadeForm {

    display: flex;
    flex-direction: column;

}

.UpdateForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.UpdateFileForm {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.DeleteItemButton {
    display: flex;
    position: absolute;
    z-index: 5;

}

.OnlineDiyetForm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.About {
    position: relative;
    height: fit-content;


}

.DiyetMarketHeader h1 {
    position: absolute;
    left: 5%;
    z-index: 5;
    color: black;
    font-style: italic;
    font-family: 'Kaushan Script';
    font-size: 20px;
    margin: 0%;
}

.AppointmentHistory {
    position: relative;
    height: fit-content;
    width: 100%;

}



.AppointmentHistory ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}


.AppointmentHistory a {

    text-decoration: none;

}

.Appointmentcards {
    position: relative;
    height: 50px;
    display: flex;
    width: 100%;
    flex-direction: row;

    background-color: #f7f5fa
}

.Appointmentcards h1 {

    font-size: 16px;

}

.Appointmentcarditem1 {

    height: 50px;
    width: 50px;
}

.Appointmentcarditem2 {

    height: 50px;
    width: 200px;
}

.Appointmentcarditem3 {

    height: 50px;
    width: 400px;
}

.Appointmentcarditem4 {

    height: 50px;
    width: 500px;
}

.FormCards {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.AppointmentDetailPage {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.AppointmentDetail {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    overflow-wrap: break-word;



}

.AppointmentDetailItem {

    width: 100%;

}

.CaloriesPage {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.CaloriesPageContent {
    display: flex;

    flex-direction: column;
    width: 80%;


}

.CaloriesInput {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.CaloriesPageLabel h2 {
    font-family: 'Kaushan Script';
    font-size: 18px;


}

.CaloriesPageLabel p {
    font-size: 14px;
}

.CaloriesInput button {
    height: 50px;
    border-radius: 10px;
    width: 50px;
    border: none;
    font-size: 16px;
    color: rgb(34, 139, 34);
    border: 1px solid rgb(34, 139, 34);
}

.CaloriesInput button:active {
    background-color: rgb(34, 139, 34);
    color: white;
}

th {
    text-align: left;
}

.BesinDegerleri {
    display: flex;
    position: relative;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    border: 1px solid rgb(34, 139, 34);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 100px;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.15);

}

.BesinDegerleriTablo {
    width: 50%;
    height: 100%;
    font-size: 16px;


}

.BesinDegerleriTablo table {
    width: 100%;
    height: 80%;
}

.BesinDegerleriResim {
    width: 50%;
    height: 100%;
    position: relative;
display: flex;
}

.BesinDegerleriResim img {
    border-radius: 10px;
    width: 100%;
    padding: 0%;
    margin: 0%;
    object-fit: cover;

}

.CaloriesPage h1 {
    font-family: 'Kaushan Script';


}

.BesinDegerleriDefaultImage {
    width: 100%;

}

.BesinDegerleriDefaultImage img {
    width: 100%;

}

/*   Design for phone Desing for phone  Desing for phone Desing for phone */
/*   Design for phone Desing for phone  Desing for phone Desing for phone */
/*   Design for phone Desing for phone  Desing for phone Desing for phone */
/*   Design for phone Desing for phone  Desing for phone Desing for phone */

@media only screen and (max-width: 600px) {
    .NavigationBar {

        display: flex;
        justify-content: center;
        flex-direction: column;
        height: fit-content;
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

    }


    .MenuButton {
        display: flex;
        position: relative;
        width: 50px;
        height: 30px;
        justify-content: center;
        align-items: center;
        left: 50%;
        margin-left: -25px;
        background-color: transparent;
        border: none;
        color: black;
        font-size: large;
    }


    .MenuButton:hover {
        cursor: pointer;

    }

    .CurrentNavigationList {
        display: none;
    }

    .ShowNavigationList {

        display: flex;
        flex-direction: column;
        list-style-type: none;


    }

    .ShowNavigationList li {
        list-style-type: none;
        font-size: 20px;
    }


    .Header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: transparent;
        height: fit-content;

    }

    .Header p {

        font-size: 12px;

        margin: 0px;
        font-style: italic;
    }



    .Header a {
        font-size: 12px;
        text-decoration: none;
    }

    .default-routepage-header {

        height: 116px;
    }

    .Carousel h1 {
        position: absolute;
        top: 40%;
        right: 50%;
        margin-right: -100px;
        display: flex;
        width: 200px;
        height: fit-content;
        font-size: 20px;

    }

    .Carousel img {
        display: flex;
        width: 100%;
        object-fit: cover;
        height: 500px;


    }

    .Carousel h1:hover {
        cursor: pointer;
        color: rgb(34, 139, 34);




    }



    .Carousel-left-button {
        position: absolute;
        top: 60%;
        left: 5px;
        font-size: 20px;


    }

    .Carousel-right-button {
        position: absolute;
        top: 60%;
        right: 5px;
        font-size: 20px;

    }

    .Carousel-right-button:hover {

        color: rgb(34, 139, 34);
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
        cursor: pointer;
    }

    .Carousel-left-button:hover {
        cursor: pointer;
        color: rgb(34, 139, 34);
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

    }

    .Articles {
        position: relative;

        height: fit-content;
        display: flex;
        justify-content: center;



    }

    .Article-inner {
        position: relative;
        width: 100%;
        /* background-color: #01ffdd; */
        height: fit-content;
        overflow: hidden;
        display: flex;
        justify-content: center;


    }


    .Articles-cards {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        height: fit-content;
        padding-bottom: 50px;

    }

    .Article-card {
        position: relative;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 25px;
        margin-bottom: 25px;
        background: #FFFFFF;
        box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);


    }

    .Article-card-image {
        height: 220px;

    }

    .Article-card-detail {

        height: 200px;

    }

    .Article-card-detail p {
        font-size: 10px;
        padding: 0px 5px 0px 5px
    }

    .ShowAllArticles {

        top: 97%;

    }

    .Allarticles-inner-cards {
        justify-content: center;

    }

    .Calculations-cards-list {

        flex-direction: column;

    }

    .Calculations-cards-list li {
        width: 100%;
    }

    .Calculations-card {
        position: relative;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

    }

    .Article-card:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

    }

    .Calculations-card img {

        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(0.1px);
    }


    .Appointment-inner {
        flex-direction: column;
        width: 90%;
        gap: 20px;
    }

    .Appointment-textContent h1 {
        font-size: 20px;
    }

    .Appointment-form {
        width: 100%;

    }

    .Footer {
        display: flex;
        position: relative;
        width: 100%;
        height: 300px;
        background-color: rgb(34, 139, 34);
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;

    }

    .Footer ul {
        list-style: none;
        position: absolute;
        display: flex;
        flex-direction: row;
        padding: 2px;
        gap: 5px;
        list-style-type: none;
        background-color: transparent;
        width: fit-content;
        height: fit-content;
        margin: auto;
        color: white;
        top: 150px;




    }

    .WebsiteOwnerNameFooter {
        position: absolute;
        top: 50px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        font-size: 15px;
        color: white;
        font-family: 'Kaushan Script';


    }

    .WebsiteOwnerNameFooter a {
        color: white;
    }

    .Footer li {
        letter-spacing: 0px;
        font-size: 12px;
    }

    .Footer li:hover {
        cursor: pointer;
        color: black;
        text-decoration: underline;
    }

    .Footerinfo {
        color: white;
        font-size: 12px;
    }

    .default-routepage-header {
        height: 1 px;

    }

    .ContactInfo {
        flex-direction: column;
        justify-content: center;
    }

    .gmap iframe {
        margin: 0px 0px 20px 0px;
        box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.10);

    }

    .Informations-Item {

        width: 80vw;
    }

    .Routepage-inner-content {
        width: 90%;
    }

    .FoodsrecipeCards ul {
        width: 100%;
    }

    .FoodrecipeCard {
        flex-direction: column;
    }

    .FoodrecipeCardImage {
        width: 100%;

    }

    .FoodrecipeCardDetail {
        gap: 0px;
        flex-direction: column;
        width: 100%;
        padding-left: 0px;
    }

    .RecipeCardInformations {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        padding-left: 5px;
    }

    .RecipeName {
        padding-left: 5px;
        height: 30px;
    }

    .RecipeName h1 {
        font-size: 16px;

    }


    .RecipeInfo1 {
        width: fit-content;

    }

    .RecipeInfo2 {
        width: fit-content;
    }


    .FoodrecipeAllDetail {
        flex-direction: column;
    }

    .RecipeInformations {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .RecipeInfo1 h1 {
        font-size: 16px;
    }

    .RecipeInfo2 {
        align-items: center;
    }

    .RecipeInfo2 h2 {
        font-size: 12px;
    }

    .Diyetmarketrightbutton {
        font-size: 25px;
        position: absolute;
        top: 90%;
        right: 25%;
    }

    .Diyetmarketleftbutton {
        font-size: 25px;
        position: absolute;
        top: 90%;
        left: 25%;


    }

    .DiyetMarketCardInfo {
        padding: 0%;
        margin: 0%;
    }

    .DiyetInfo1 {
        display: flex;
        flex-direction: column;
        position: relative;
        height: fit-content;
    }

    .DiyetInfo1Image {
        width: 100%;
    }

    .DiyetInfo1Abstract {
        width: 100%;
        padding: 0px;
        position: relative;

    }

    .RoutePageContent {
        margin-top: 50px;

    }

    .DiyetmarketAllCards ul {
        padding-left: 12.5px;
        padding-right: 12.5px;

    }

    .BesinDegerleri {
        flex-direction: column;

    }

    .BesinDegerleriTablo {
        width: 90%;
        font-size: 14px;
    }

    .BesinDegerleriResim {
        margin-top: 20px;
        width: 90%;
    }

    @media only screen and (min-width: 601px) {}
}